
bin/
obj/


.vs/
*.user
*.suo
*.userosscache
*.sln.docstates


/Properties/PublishProfiles/
*.pubxml


appsettings.Development.json
appsettings.Production.json
appsettings.*.local.json
.env
.env.*


*.log
Logs/


.idea/


.DS_Store
Thumbs.db


*.nupkg
*.snupkg
packages/

node_modules/


*.tmp
*.temp
